/* Main Color Variables */
/* Types Variables */
/* Flex Mixin */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: url(./images/bg-desktop.svg) no-repeat;
  background-size: contain;
  background-color: #674baf;
}

.page__container {
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
}

.nav__container {
  padding-top: 1rem;
}

.nav__container img {
  width: 12rem;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8rem;
}

.main__container .main__text {
  margin-left: 3rem;
}

.main__container .main__text h1 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding: 2.3rem 0 1rem 0;
}

.main__container .main__text p {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  line-height: 1.8;
  padding-bottom: 2rem;
}

.main__container .main__text button {
  padding: 1rem 4rem;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #674baf;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main__container .main__text button:hover {
  -webkit-transform: translateY(-4px) scale(1.05);
          transform: translateY(-4px) scale(1.05);
  -webkit-box-shadow: 0px 10px 29px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 29px -10px rgba(0, 0, 0, 0.75);
}

footer .socialIcons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
}

footer .socialIcons__container .socialIcons--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border: #fff 1px solid;
  border-radius: 50px;
  margin-left: 1rem;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

footer .socialIcons__container .socialIcons--icon i {
  color: #fff;
}

footer .socialIcons__container .socialIcons--icon:hover {
  border: 1px solid #e882e8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

footer .attribution {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  padding-top: 8rem;
}

footer .attribution a {
  text-decoration: none;
  color: #e882e8;
}

@media screen and (max-width: 900px) {
  body {
    background: url(./images/bg-mobile.svg) no-repeat;
    background-size: contain;
    background-color: #674baf;
  }
  .page__container {
    width: 320px;
    height: 100vh;
    margin: 0 auto;
  }
  .nav__container {
    padding-top: 2rem;
  }
  .nav__container img {
    width: 9rem;
  }
  .main__container {
    padding-top: 4rem;
  }
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__container .main__img img {
    width: 20rem;
  }
  .main__container .main__text {
    margin-left: 0;
    text-align: center;
  }
  .main__container .main__text h1 {
    padding: 1rem 0;
  }
  footer .socialIcons__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding-top: 3rem;
  }
  footer .socialIcons__container .socialIcons--icon {
    width: 40px;
    height: 40px;
    margin-left: 0;
  }
  footer .attribution {
    padding-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */
